.receive-page {
  min-height: 100vh;
  .info-area {
    padding-top: 50px;
    padding-left: 20vw;
    padding-right: 20vw;
    p.centered.title {
      margin-top: 3.5vh;
      margin-bottom: 2.5vh;
    }
    .login-card {
      background-color: rgba($text-color-light, 0.9);
    }
    .button {
      margin-left: calc(25px + 15vw);
      margin-right: calc(25px + 15vw);
      transition: all $standard-time $standard-transition-curve;
      box-shadow: 0 0 0 1px rgba($text-color-dark, 0.25);

    }
    .button:hover {
      transition: all $standard-time $standard-transition-curve;
      box-shadow: 0 0 0 1px rgba($text-color-dark, 0.75);
      opacity: 1;
    }
  }
}

#qrcenter {
  text-align: center
}