.receive-page {
  min-height: 100vh;
  .title-area {
    color: $text-color-light;
    * {
      color: $text-color-light;
    }
    height: 55vh;
    min-height: 450px;
    h4 {
      padding-top: 50px;
      margin-top: calc(12.5vh - 75px);
    }
    .centered.subtitle {
      margin-top: 50px;
    }

    #demoreq-button {
      font-size: 20px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 30px;
      padding-right: 30px;
      transition: all $standard-time $standard-transition-curve;
      border: 1px solid rgba($text-color-light, 0.001);
    }
    #demoreq-button:hover {
      transition: all $standard-time $standard-transition-curve;
      border: 1px solid rgba($text-color-light, 0.75);
    }

    .ilp-contact {
      .button {
        transition: all $standard-time $standard-transition-curve;
        box-shadow: 0 0 0 1px rgba($text-color-light, 0.001);
        opacity: 0.75;
      }
      .button:hover {
        transition: all $standard-time $standard-transition-curve;
        box-shadow: 0 0 0 1px rgba($text-color-light, 0.75);
        opacity: 1;
      }
    }
  }

  .info-area {
    padding-left: 5vw;
    padding-right: 5vw;

    hr {
      margin: 1.5em;
    }

    .product-section {
      padding-bottom:16px;
    }

    .product-item-text, .member-item-text{
      padding-left: 8px;
      padding-right: 8px
    }

    .member-section {
      .member-item {
        margin-bottom: 16px;
      }

      .member-bio {
        margin: 0;
      }
      img.member-img {
        border-radius: 50%;
      }
      .member-item-text {
        padding-top: 8px;
      }

      .button {
        transition: all $standard-time $standard-transition-curve;
        box-shadow: 0 0 0 1px rgba($text-color-dark, 0.5);
        opacity: 0.5;
      }
      .button:hover {
        transition: all $standard-time $standard-transition-curve;
        box-shadow: 0 0 0 1px rgba($text-color-dark, 0.75);
        opacity: 1;
      }
    }

    .member-affiliate-section, .affiliate-section {
      text-align: center;
      img.member-affiliate-img {
        max-width: 150px;
      }
      img.affiliate-img {
        max-width: 200px;
      }
      img.member-affiliate-img, img.affiliate-img {
        height: auto;
        display: inline;
        vertical-align: middle;
        margin: 8px;
      }
    }
  }
}